<h1>Listing orders</h1>

<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Order number</th>
      <th>Currency</th>
      <th>Amount</th>
      <th>Status</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.id %></td>
        <td><%= order.order_number %></td>
        <td><%= order.currency %></td>
        <td><%= order.amount %></td>
        <td><%= order.status %></td>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_order_path, :class => 'btn btn-default' %>
