<h1>Order #<%= @order.id %></h1>
<hr>

<% merchant = Merchant.new %>
<% payment_service_for  @order.order_number, merchant.merchant_token,
                        :service => :web_pay3,
                        :amount => @order.amount,
                        :currency => @order.currency,
                        :credential2 => merchant.key,
                        :credential3 => merchant.language,
                        :transaction_type => merchant.transaction_type,
                        :return_url => 'return_url',
                        :html => { :id => 'payment-form' } do |service| %>


  <% service.address  name: 'John Doe',
                      address1: 'Street 15',
                      city: 'Old Town',
                      zip: '123456',
                      country: 'Azeroth',
                      phone: '00-123 456-7',
                      email: 'email@email.com' %>

  <% service.order_info 'order info' %>

  <div class="row">
    <div class="col-md-6">
      <p>
        <strong>Order number:</strong>
        <%= @order.order_number %>
      </p>

      <p>
        <strong>Currency:</strong>
        <%= @order.currency %>
      </p>

      <p>
        <strong>Amount:</strong>
        <%= @order.amount %>
      </p>

      <p>
        <strong>Status:</strong>
        <%= @order.status %>
      </p>

      <br>
      <%= submit_tag "Pay for your Order", :class => 'btn btn-lg btn-default' unless @order.status == 'Approved' %>

    </div>

    <div class="col-md-6">
      <div class="well">
        <strong>Test merchant settings:</strong><br>
        merchant_token: <%= merchant.merchant_token %><br>
        key: <%= merchant.key %><br>
        transaction_type: <%= merchant.transaction_type %><br>
        language: <%= merchant.language %><br>
        <br>
        <strong>ActiveMerchant form fields:</strong><br>
        <%= service.form_fields.inspect %><br><br>
        <strong>ActiveMerchant mappings:</strong><br>
        <%= service.class.mappings.inspect %><br>
      </div>
    </div>
  </div>
<% end %>

